## Importing libraries

In [ ]:
import pandas as pd
import numpy as np

##Importing Dataset

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving hotel_bookings.csv to hotel_bookings (1).csv

In [ ]:
df = pd.read_csv("hotel_bookings.csv")
df.head(3)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02

[3 rows x 32 columns]

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
df.describe()

         is_canceled  ...  total_of_special_requests
count  119390.000000  ...              119390.000000
mean        0.370416  ...                   0.571363
std         0.482918  ...                   0.792798
min         0.000000  ...                   0.000000
25%         0.000000  ...                   0.000000
50%         0.000000  ...                   0.000000
75%         1.000000  ...                   1.000000
max         1.000000  ...                   5.000000

[8 rows x 20 columns]

##Data Preprocessing

Handling null data

In [ ]:
#a = df.mean(axis = 1)

df.fillna(df.mean(), inplace=True)
#df = df.fillna(df.mean())

#df["agent"]=df["agent"].fillna(value = a)
#df["company"]=df["company"].fillna(value = a)
df.head(2)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01

[2 rows x 32 columns]

In [ ]:
df.nunique()

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             6
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              334
company                            353
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df["deposit_type"]= lb.fit_transform(df["deposit_type"])
df["reservation_status"]= lb.fit_transform(df["reservation_status"])
df["arrival_date_month"]= lb.fit_transform(df["arrival_date_month"])
df["country"]= lb.fit_transform(df["country"].astype(str))
df["market_segment"]= lb.fit_transform(df["market_segment"])
df["distribution_channel"]= lb.fit_transform(df["distribution_channel"])
df["reserved_room_type"]= lb.fit_transform(df["reserved_room_type"])
df["meal"]= lb.fit_transform(df["meal"])
df["assigned_room_type"]= lb.fit_transform(df["assigned_room_type"])
df["arrival_date_year"]= lb.fit_transform(df["arrival_date_year"])
df["customer_type"]= lb.fit_transform(df["customer_type"])
df["hotel"]= lb.fit_transform(df["hotel"])

In [ ]:
df.head(3)

   hotel  is_canceled  ...  reservation_status  reservation_status_date
0      1            0  ...                   1               2015-07-01
1      1            0  ...                   1               2015-07-01
2      1            0  ...                   1               2015-07-02

[3 rows x 32 columns]

##Feature Selection

In [ ]:
X = df.drop(["reservation_status_date","is_canceled"],axis = 1)
y = df.pop("is_canceled")

In [ ]:
X.head(3)

   hotel  lead_time  ...  total_of_special_requests  reservation_status
0      1        342  ...                          0                   1
1      1        737  ...                          0                   1
2      1          7  ...                          0                   1

[3 rows x 30 columns]

##Spliting training and test data

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

##Scaling of Data

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(95512, 30)
(23878, 30)
(95512,)
(23878,)

##Model Building

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

model = Sequential()
model.add(Dense(units = 6,kernel_initializer ="he_uniform", activation = "relu",input_dim =30))
model.add(Dense(units = 6 , kernel_initializer = "he_uniform", activation = "relu"))
model.add(Dense(units = 1, kernel_initializer ="glorot_uniform",activation = "sigmoid"))
model.compile(optimizer = "Adamax", loss = "binary_crossentropy",metrics = ['accuracy'])
model_out = model.fit(X_train,y_train,  batch_size = 20, epochs = 100)
model.summary()

Epoch 1/100
4776/4776 [==============================] - 16s 1ms/step - loss: 0.4651 - accuracy: 0.7684
Epoch 2/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0691 - accuracy: 0.9893
Epoch 3/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0514 - accuracy: 0.9889
Epoch 4/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0281 - accuracy: 0.9908
Epoch 5/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0118 - accuracy: 0.9974
Epoch 6/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0058 - accuracy: 0.9993
Epoch 7/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0027 - accuracy: 0.9996
Epoch 8/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0023 - accuracy: 0.9998
Epoch 9/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0014 - accuracy: 0.9998
Epoch 10/100
4776/4776 [==============================] - 6s 1ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 11/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.9053e-04 - accuracy: 0.9999
Epoch 12/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.4689e-04 - accuracy: 0.9999
Epoch 13/100
4776/4776 [==============================] - 6s 1ms/step - loss: 9.3441e-04 - accuracy: 0.9998
Epoch 14/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.0481e-04 - accuracy: 0.9999
Epoch 15/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.9152e-04 - accuracy: 0.9999
Epoch 16/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.4753e-04 - accuracy: 0.9999
Epoch 17/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.2862e-04 - accuracy: 1.0000
Epoch 18/100
4776/4776 [==============================] - 6s 1ms/step - loss: 3.3992e-04 - accuracy: 0.9999
Epoch 19/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.7330e-04 - accuracy: 1.0000
Epoch 20/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.0790e-04 - accuracy: 1.0000
Epoch 21/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.7215e-04 - accuracy: 1.0000
Epoch 22/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.4274e-04 - accuracy: 1.0000
Epoch 23/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.9951e-04 - accuracy: 0.9999
Epoch 24/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.2560e-04 - accuracy: 1.0000
Epoch 25/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.2231e-04 - accuracy: 1.0000
Epoch 26/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1776e-04 - accuracy: 1.0000
Epoch 27/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.9081e-04 - accuracy: 1.0000
Epoch 28/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.4734e-04 - accuracy: 1.0000
Epoch 29/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1243e-04 - accuracy: 1.0000
Epoch 30/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.7639e-04 - accuracy: 1.0000
Epoch 31/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.0302e-04 - accuracy: 1.0000
Epoch 32/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.3161e-05 - accuracy: 1.0000
Epoch 33/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1227e-04 - accuracy: 1.0000
Epoch 34/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.3999e-05 - accuracy: 1.0000
Epoch 35/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.9122e-05 - accuracy: 1.0000
Epoch 36/100
4776/4776 [==============================] - 6s 1ms/step - loss: 9.5572e-05 - accuracy: 1.0000
Epoch 37/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.7464e-05 - accuracy: 1.0000
Epoch 38/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3772e-04 - accuracy: 1.0000
Epoch 39/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.8002e-04 - accuracy: 1.0000
Epoch 40/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.7191e-05 - accuracy: 1.0000
Epoch 41/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.5979e-05 - accuracy: 1.0000
Epoch 42/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.8358e-05 - accuracy: 1.0000
Epoch 43/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.9378e-05 - accuracy: 1.0000
Epoch 44/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3915e-04 - accuracy: 0.9999
Epoch 45/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.5125e-05 - accuracy: 1.0000
Epoch 46/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.6494e-05 - accuracy: 1.0000
Epoch 47/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.4340e-05 - accuracy: 1.0000
Epoch 48/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.1081e-05 - accuracy: 1.0000
Epoch 49/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.3849e-05 - accuracy: 1.0000
Epoch 50/100
4776/4776 [==============================] - 6s 1ms/step - loss: 3.7616e-05 - accuracy: 1.0000
Epoch 51/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.2845e-05 - accuracy: 1.0000
Epoch 52/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.5760e-05 - accuracy: 1.0000
Epoch 53/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.9942e-05 - accuracy: 1.0000
Epoch 54/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.1597e-05 - accuracy: 1.0000
Epoch 55/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.5160e-04 - accuracy: 1.0000
Epoch 56/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.4231e-05 - accuracy: 1.0000
Epoch 57/100
4776/4776 [==============================] - 6s 1ms/step - loss: 3.3287e-05 - accuracy: 1.0000
Epoch 58/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.0810e-04 - accuracy: 1.0000
Epoch 59/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.5199e-05 - accuracy: 1.0000
Epoch 60/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3903e-04 - accuracy: 1.0000
Epoch 61/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.0840e-04 - accuracy: 1.0000
Epoch 62/100
4776/4776 [==============================] - 6s 1ms/step - loss: 8.9967e-05 - accuracy: 1.0000
Epoch 63/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.0964e-05 - accuracy: 1.0000
Epoch 64/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.5576e-04 - accuracy: 1.0000
Epoch 65/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.4553e-04 - accuracy: 1.0000
Epoch 66/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3963e-05 - accuracy: 1.0000
Epoch 67/100
4776/4776 [==============================] - 6s 1ms/step - loss: 9.1242e-05 - accuracy: 1.0000
Epoch 68/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.8825e-05 - accuracy: 1.0000
Epoch 69/100
4776/4776 [==============================] - 6s 1ms/step - loss: 8.4266e-06 - accuracy: 1.0000
Epoch 70/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3843e-05 - accuracy: 1.0000
Epoch 71/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.1823e-05 - accuracy: 1.0000
Epoch 72/100
4776/4776 [==============================] - 6s 1ms/step - loss: 3.4143e-05 - accuracy: 1.0000
Epoch 73/100
4776/4776 [==============================] - 6s 1ms/step - loss: 8.7724e-06 - accuracy: 1.0000
Epoch 74/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.6870e-06 - accuracy: 1.0000
Epoch 75/100
4776/4776 [==============================] - 6s 1ms/step - loss: 8.1078e-06 - accuracy: 1.0000
Epoch 76/100
4776/4776 [==============================] - 6s 1ms/step - loss: 9.9732e-06 - accuracy: 1.0000
Epoch 77/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.6970e-06 - accuracy: 1.0000
Epoch 78/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.4545e-05 - accuracy: 1.0000
Epoch 79/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.9862e-06 - accuracy: 1.0000
Epoch 80/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.8295e-06 - accuracy: 1.0000
Epoch 81/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.2568e-07 - accuracy: 1.0000
Epoch 82/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3769e-06 - accuracy: 1.0000
Epoch 83/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.5092e-06 - accuracy: 1.0000
Epoch 84/100
4776/4776 [==============================] - 6s 1ms/step - loss: 7.4361e-07 - accuracy: 1.0000
Epoch 85/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1751e-06 - accuracy: 1.0000
Epoch 86/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1525e-06 - accuracy: 1.0000
Epoch 87/100
4776/4776 [==============================] - 6s 1ms/step - loss: 4.3948e-07 - accuracy: 1.0000
Epoch 88/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.3665e-06 - accuracy: 1.0000
Epoch 89/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.1300e-06 - accuracy: 1.0000
Epoch 90/100
4776/4776 [==============================] - 6s 1ms/step - loss: 5.2614e-07 - accuracy: 1.0000
Epoch 91/100
4776/4776 [==============================] - 6s 1ms/step - loss: 2.5722e-07 - accuracy: 1.0000
Epoch 92/100
4776/4776 [==============================] - 6s 1ms/step - loss: 1.2676e-07 - accuracy: 1.0000
Epoch 93/100
4776/4776 [==============================] - 6s 1ms/step - loss: 6.0964e-08 - accuracy: 1.0000
Epoch 94/100
4776/4776 [==============================] - 6s 1ms/step - loss: 8.8601e-08 - accuracy: 1.0000
Epoch 95/100
4776/4776 [==============================] - 7s 1ms/step - loss: 5.4310e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 5.4310e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 5.4310e-08 - accuracy: 1.0000
Epoch 96/100
   1/4776 [..............................] - ETA: 20s - loss: 1.0393e-08 - accuracy: 1.0000Epoch 96/100
   1/4776 [..............................] - ETA: 20s - loss: 1.0393e-08 - accuracy: 1.0000Epoch 96/100
4776/4776 [==============================] - 7s 1ms/step - loss: 4.2989e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 4.2989e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 4.2989e-08 - accuracy: 1.0000
Epoch 97/100
   1/4776 [..............................] - ETA: 35s - loss: 3.1524e-09 - accuracy: 1.0000Epoch 97/100
   1/4776 [..............................] - ETA: 35s - loss: 3.1524e-09 - accuracy: 1.0000Epoch 97/100
4776/4776 [==============================] - 7s 1ms/step - loss: 1.4837e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 1.4837e-08 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 1.4837e-08 - accuracy: 1.0000
Epoch 98/100
   1/4776 [..............................] - ETA: 12s - loss: 2.7260e-09 - accuracy: 1.0000Epoch 98/100
   1/4776 [..............................] - ETA: 12s - loss: 2.7260e-09 - accuracy: 1.0000Epoch 98/100
4776/4776 [==============================] - 7s 1ms/step - loss: 6.3645e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 6.3645e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 6.3645e-09 - accuracy: 1.0000
Epoch 99/100
   1/4776 [..............................] - ETA: 20s - loss: 1.0205e-09 - accuracy: 1.0000Epoch 99/100
   1/4776 [..............................] - ETA: 20s - loss: 1.0205e-09 - accuracy: 1.0000Epoch 99/100
4776/4776 [==============================] - 7s 1ms/step - loss: 7.9352e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 7.9352e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 7.9352e-09 - accuracy: 1.0000
Epoch 100/100
Epoch 100/100
Epoch 100/100
4776/4776 [==============================] - 7s 1ms/step - loss: 5.1104e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 5.1104e-09 - accuracy: 1.0000
4776/4776 [==============================] - 7s 1ms/step - loss: 5.1104e-09 - accuracy: 1.0000
Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 186
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 235
Trainable params: 235
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 186
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 235
Trainable params: 235
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 186
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 235
Trainable params: 235
Non-trainable params: 0
_________________________________________________________________

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

array([[1.8341758e-09],
       [8.9532898e-10],
       [1.0000000e+00],
       ...,
       [1.5162467e-09],
       [2.1747668e-09],
       [3.6694781e-10]], dtype=float32)

In [ ]:
y_pred = (y_pred > 0.5)

##Model Evaluation

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_pred,y_test))

[[14934     2]
 [    0  8942]]

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.9999162408911969